* {
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
}

body {
  background-color: #f4ecff;
  /* grid on background */
  background-image: linear-gradient(
      to right,
      rgba(224, 180, 243, 0.6) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(224, 180, 243, 0.6) 1px, transparent 1px);
  background-size: 40px 40px;
}

/* ---- START MENU ---- */

.dropdown-item:hover {
  background: #a08bc7 !important;
  color: white !important;
}

/* ---- TASK BAR ---- */

.navbar {
  background-color: #d9c4ff;
  border-bottom: 2px solid #a08bc7;
  box-sizing: content-box;
  user-select: none;
}

.navbar button {
  max-width: 150px;
  margin-left: 3px;
  padding: 5px 10px !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: linear-gradient(165deg, #e9dffd 0%, #b092f0 100%);
  border: 1px solid #ffffff00;
  color: rgba(35, 32, 54, 0.6);
}

.navbar button:focus {
  outline: none;
}

.navbar button:hover {
  background: linear-gradient(165deg, #b799ed 0%, #b0cbf7 100%);
  color: #000000;
}

#home-button {
  margin: 0;
  transition: background-color 0.2s;
}

.navbar i {
  font-size: 1.2em;
}

.navbar-nav .nav-link {
  padding: 5px 10px;
}

.taskbar-active {
  background: #9881c4 !important;
  border: 1px solid #7761a1 !important;
  color: white !important;
}

.taskbar-active button {
  color: #000000 !important;
}

#desktop-button {
  width: 30px;
  height: 38px;
}

/* ---- WINDOWS ---- */

.toggleableWindow {
  position: absolute;
  border: 3px solid #d3d3d3;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s;
  filter: brightness(0.9) grayscale(0.5) sepia(0.1);
}

.window-active {
  border: 3px solid #a08bc7;
  filter: none;
}

.toggleableWindow-header {
  padding: 10px;
  cursor: default;
  z-index: 10;
  background: url(https://grainy-gradients.vercel.app/noise.svg),
    linear-gradient(
      to right,
      #fd2fff 0%,
      #79abff 23%,
      #36d696 38%,
      #ffdf50 62%,
      #8dffa6 84%,
      #61b3f5 100%
    );
  background-attachment: fixed;
  color: #fff;
  text-align: left;
  user-select: none;
}

.toggleableWindow-header p {
  margin: 0 30px 0 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.windowContent {
  padding: 10px;
  overflow: auto;
  background-color: #f3f1f6f4;
  background-attachment: fixed;
  color: #000;
}

/* ---- FOOTER ---- */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  background-color: #c0b1db;
  background: url(https://grainy-gradients.vercel.app/noise.svg),
    linear-gradient(
      to right,
      rgb(255, 218, 240) 0%,
      #e39dfd 25%,
      #a6dbec 60%,
      #7aedc5 100%
    );
  color: #0000009e;
  text-align: center;
  line-height: 35px;
}

/* ---- DESKTOP ICONS ---- */

img {
  -webkit-user-drag: none;
  user-select: none;
}

.desktopIcon {
  width: 100px;
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 15px;
  color: #364ae4;
  -webkit-user-drag: none;
  user-select: none;
}

.desktopIcon img {
  width: 80px;
  margin-bottom: 5px;
  transition: filter 0.2s;
  filter: grayscale(0.6) sepia(0);
}

.desktopIcon:hover img {
  filter: grayscale(0) sepia(0.6);
}

.desktopIcon:hover {
  background-color: #ffffff61;
  border: 2px solid #ffffffbb;
  color: #7382fa;
  text-decoration: underline 2px solid #7382fa;
}
